   <table>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.approved %></td>
        <td><%= user.admin %></td>
        <td><%= link_to "Approve", approve_user_path(user) %>
      </tr>
    <% end %>
    </table>